#main{
    width: 1305px;
    margin: 50px auto;
    text-align: center;
    font-size: 0px;
    background: black;
}

.cell{
    width: 15px;
    height: 15px;
    display: inline-block;
    background: black;
}

.snakeCells {
    background: green;
    border-radius: 4px;
}

.cellCoin{
    background: red;
    border-radius: 4px;
}

body{
    overflow: hidden;
    position: relative;
}

#result{
    width: 1305px;
    margin: 0 auto;
    margin-bottom: -45px;
    font-size: 20px;
}

#time{
    width: 110px;
    display: inline-block;
}

#score{
    margin-left: 15px;
}

#total{
    margin-left: 30px;
}

#Tutorial, #leader-board{
    margin: 0 0px 0px 30px;
    cursor: pointer;
    padding: 4px;
    border: 1px solid black;
    border-radius: 4px;
    margin-left: 100px;
    font-weight: bold;
    user-select: none;
}

#Tutorial:hover, #leader-board:hover{
    background: black;
    color: white;
}

#Tutorial:active, #leader-board:active{
    margin-left: 101.5px;
}

#Tutorial:active~span{
    margin-left: 98.5px;
}

.modal{
    width: 500px;
    height: 200px;
    position: absolute;
    left: 32%;
    top: 200px;
    background: grey;
    text-align: center;
    line-height: 200px;
    opacity: .5;
    display: none;
}

.tutor{
    height: 30px;
    margin-bottom: -10px;
}

.tutor:first-child{
    margin-top: -50px;
}

.open{
    display: block;
}

#data{
    width: 400px;
    height: 100px;
    border: 1px solid white;
    position: absolute;
    left: calc(50% - 200px);
    top: 100px;
    text-align: center;
    background: white;
    border-radius: 20px;
    display: none;
}

.okey{
    border-radius: 10px;
}

