#wrapper {
    margin: 1% auto;
    width: 156px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    font-family: sans-serif;
}

.block {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    line-height: 50px;
    text-align: center;
    font-size: 25px;
}

.block:hover {
    background: #eee;
}

#info {
    width: 156px;
    margin: 0 auto;
    margin-top: 20px;
}

#new_game {
    margin-top: 20px;
}

#score {
    width: 130px;
    height: 130px;
    border: 1px solid black;
    position: absolute;
    top: 1%;
    left: 90%;
}

#first,
#second,
#both {
    width: 90px;
    margin: 0 auto;
    margin-top: 18px;
}
