body {
    margin: 0;
    padding: 0;
}

#block {
    width: 15px;
    height: 15px;
    position: absolute;
    cursor: pointer;
    left: 52%;
    top: 10px;
}

#block hr {
    color: black;
    margin-bottom: -4px;
    transition: all .5s;
}

#first {
    margin-top: 0px;
    transform-origin: left;
}


#third {
    transform-origin: left;
}

.exitFirst {
    transform-origin: left;
    transform: rotate(45deg);
    width: 18px;
}

.exitSecond {
    opacity: 0;
}

.exitThird {
    transform: rotate(-45deg);
    width: 18px;
    margin-top: 10px;
}

#menu {
    margin: 0;
    padding: 0;
    display: flex;
    background: black;
    width: 51%;
    border: 1px solid black;
    transition: height .5s ease-in;
    height: 30px;
}


.nav ul li {
    list-style-type: none;
    flex: 1;
    text-align: center;
}

.nav ul li a {
    text-decoration: none;
    line-height: 30px;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    display: block;
}

.nav ul li a:hover {
    background: white;
    color: black;
}

.main-menu {
    display: flex;
    border: 1px solid black;
}

.open {
    flex-direction: column;
}

.clearfix {
    clear: both;
}
