.wrapper {
    width: 400px;
    margin: 0 auto;
    margin-top: 30px;
    border: 1px solid black;
    padding: 10px;
    font-family: sans-serif;
}

#input {
    width: 100%;
    padding: 10px 0 10px 10px; 
    box-sizing: border-box;
}

.todo {
    border: 1px solid grey;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {
    word-break: break-all;
}

.completed {
    text-decoration: line-through;
    opacity: .5;
}

.actions {
    display: flex;
    align-items: center;
}

.complete {
    margin-right: 15px;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.close {
    display: inline-block;
    font-size: 25px;
    color: red;
    cursor: pointer;
    text-align: center;
}